

.leaf {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

ul.stuff {
  flex-wrap: wrap;
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5em;
}

li.person {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li.person::before {
  display: none;
}

li.person > img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5em;
}

.personName {
  font-size: 1em;
}

.personDescription {
  font-size: 0.85em;
}

.leader {
  color: blueviolet;
  font-weight: bold;
}

.emptyNode {
  padding: 1em;
}

.emptyNode > .header {
  margin: 0;
}